cffi==2.0.0
cryptography==46.0.5
customtkinter==5.2.2
darkdetect==0.8.0
numpy==2.4.2
oracledb==3.4.2
packaging==26.0
pandas==3.0.0
pycparser==3.0
python-dateutil==2.9.0.post0
schedule==1.2.2
six==1.17.0
tk==0.1.0
typing_extensions==4.15.0
